################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/FluentMigration.Generator.PostgreSql/FluentMigration.Generator.PostgreSql/.vscode
